xsd/taglistOptions-1.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.11,                                             -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://modello.codehaus.org/MODELLO/1.0.0" targetNamespace="http://modello.codehaus.org/MODELLO/1.0.0">
  <xs:element name="tagListOptions" type="TagListOptions">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">Specific TagList parameters, i.e. options that POM doesn&apos;t have any notions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TagListOptions">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">Specific TagList parameters, i.e. options that POM doesn&apos;t have any notions.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="tagClasses">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tagClasse" minOccurs="0" maxOccurs="unbounded" type="TagClass"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TagClass">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">The options for the specific tag class.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="displayName" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">The name to display for this tag class in the output HTML.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tags">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tag" minOccurs="0" maxOccurs="unbounded" type="Tag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Tag">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">The options for the specific tag.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="matchString" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">The string to be used in the TagList search.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="matchType" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">The type of comparison to perform on the string.  Options:  exact, ignoreCase, regEx   Default = exact.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>